.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: 80vh;
}

.name { grid-area: 2 / 3 / 3 / 4; }
.email { grid-area: 3 / 3 / 4 / 4; }
.tel { grid-area: 4 / 3 / 5 / 4; }
.text { grid-area: 5 / 3 / 6 / 4; }
.submit { grid-area: 6 / 3 / 7 / 4; }

h1 {
  text-align: center;
  color: black;
}

input {
  width: 500px;
  height: 40px;
  border-radius: 25px;
  padding: 15px;
  border: 1px solid #707070;
}

textarea {
  padding: 15px;
  width: 500px;
  border: 1px solid #707070;
  border-radius: 25px;
}

button {
  border-radius: 25px;
  border: 1px solid #707070;
  width: 150px;
  height: 50px;
  align-self: center;
}

button:hover {
  background-color: springgreen;
  border: 2px solid black;
  cursor: pointer;
}