/*CSSGRID HOSTING*/
/*
 * Main hosting plans (flexbox)
 * top_container = first flexbox (3 items)
 * bottom_container = last flexbox = (4 items)
 */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: stretch;
  margin-top: -50px;
}

.item {
  max-width: 25%;
  padding: 20px;
  margin: 50px 20px 0 20px;
  height: 60vh;
  border: 1px solid #707070;
  border-radius: 25px;
}

.additional {
  color: lightslategrey;
  font-size: 12px;
  font-style: italic;
  display: block;
}

.plan1 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.plan2 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.plan3 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.domain-lookup {
  text-align: center;
  justify-content: center;

}

.lookup {
  padding-top: 50px;
  width: 100%;
  height: 150px;
/*padding-left: 40%;*/
}

.lbl {
  display: block;
  text-align: center;
  padding-bottom: 25px;
}

input[type=text] {
  height: 40px;
  width: 300px;
  border: 1px solid #707070;
  border-radius: 25px;
  padding: 15px;
}

.choose-btn {
  height: 40px;
  width: 100px;
  border-radius: 25px;
  border: 1px solid #707070;
}

.choose-btn:hover {
  background-color: springgreen;
  border: 2px solid black;
  cursor: pointer;
}

h2, h3 {
  margin: 0;
  text-align: center;
}

.flex-content {
  margin-bottom: auto;
  padding: 20px;
}

.choose-btn {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 1px;
  padding-bottom: -20px;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  background-color: #455a64;
}

.choose-btn:hover {
  background-color: springgreen;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}

.list {
  padding-left: 19px;
  margin-bottom: auto;
}

.smaller {
  padding-top: 25px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}