/*CSSGRID NIEUWS*/
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  height: 92vh;
}

.post1 { grid-area: 2 / 2 / 4 / 3; }
.post2 { grid-area: 2 / 3 / 4 / 4; }
.post3 { grid-area: 2 / 4 / 4 / 5; }
.post4 { grid-area: 4 / 2 / 6 / 3; }
.post5 { grid-area: 4 / 3 / 6 / 4; }
.post6 { grid-area: 4 / 4 / 6 / 5; }

.post {
  border: 1px solid #707070;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
}

.img-post {
  height: 125px;
  width: 125px;
}

.img-post-lg {
  height: 125px;
  width: 250px;
}

.aboutPage {
  border: 1px solid lightblue;
  height: 25px;
  width: 100px;
  display: block;
  background-color: deepskyblue;
  color: #000;
  text-decoration: none;
  text-align: center;
  line-height: 23px;
  border-radius: 10px;
}

.aboutPage:hover {
  background-color: #707070;
  color: white;
  border-radius: 25px;
}